<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.foodmaniaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodManiaApp">
        <activity android:name=".Activity.CardapioActivity"
            android:parentActivityName=".Activity.HomeActivity"></activity>
        <activity android:name=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.ConfiguracoesUsuarioActivity"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.NovoProdutoEmpresaActivity"
            android:parentActivityName=".Activity.EmpresaActivity" />
        <activity
            android:name=".Activity.ConfiguracoesEmpresaActivity"
            android:parentActivityName=".Activity.EmpresaActivity" />
        <activity android:name=".Activity.EmpresaActivity" />
        <activity android:name=".Activity.CadastrarActivity" />
        <activity android:name=".Activity.AutenticationActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>